.userMessage {
  margin: 10px 20px 10px auto;
  border-bottom: 1px solid black;
}

.aiMessage {
  margin: 10px auto 10px 20px;
  border-bottom: 1px solid black; 
}

.chattext {
  font-size: 12px;
}

.chatwindow {
  overflow-y:auto;
  padding: 20px;
  border-radius: 25px;
  background-color: white;
  width: 80vw;
  height: 60vh;
  text-align: left;
  margin: 10px;
}

.input {
  padding-left: 10vw;
  width: 80vw;
  text-align: center;
  align-content: center;
}

.textinput {
  width: 40;
}